<ion-view view-title="Need Help?">

  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="images/Help.png">
        <h2>Problems?</h2>
        <p>Drop a bug notice to me!</p>
        <br>
        <button
                ng-click="sendEmail()"
                class="button ion-bug button-block button-royal">Bug Me</button>
      </div>

      <div class="item ">
        <img src="images/judy.png" style="max-width: 60%;
        max-height: 60%; display:block; margin:auto;">
      </div>
    </div>
</ion-view>
